@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;400&family=Josefin+Sans:ital,wght@1,300&family=Kanit:ital,wght@0,500;0,700;1,400&family=Montserrat:wght@600&family=Oswald:wght@400;500&family=PT+Sans&family=Russo+One&family=Source+Sans+Pro:ital@1&family=Ubuntu:ital@1&family=Varela+Round&display=swap');
header {
    background-color: #1cc7d0;
    padding: 10px;
    height: 50px;
    overflow: hidden;
}

.left_nav>h2 {
    margin-top: 0;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    margin-top: -2px;
}

.content_header {}

.menubtn {
    background: transparent;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: -20px;
    font-size: 28px;
    margin-left: 30px;
}

.left_side_header {
    display: flex;
    float: right;
}

.left_side_header>img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.left_side_header>h2 {
    font-weight: 400;
    font-size: 24px;
    color: white;
    margin-left: 10px;
}

.left_nav {
    display: inline-flex;
}

.right_nav {
    display: flex;
    float: right;
}

aside {
    background-color: #0a0650;
    width: 250px;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 500px;
    margin-top: 50px;
    padding: 10px;
    overflow-x: auto;
    height: 618px;
}

.top_section>center>img {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    border: 1px solid;
}

.top_section {
    margin-top: 15px;
}

.user_data_box {
    background-color: white;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    padding: 3px;
    font-weight: 800;
}

.user_data_box>span {
    display: block;
    color: green;
}

.listnav {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.listnav>li {
    padding: 10px;
    background: linear-gradient(#0f084e, #221a46);
    margin-top: 10px;
}

.listnav>li>a {
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.listnav>li {
    color: white;
}

.dashboard_section {
    background-image: url('https://happyindia200.live/dist/img/back.png');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 250px;
    padding: 20px;
}

.box_column_data {
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 7px 0px black;
    min-height: 90px;
    border-radius: 4px;
    padding: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.icon_side_data>i {
    padding: 18px;
    border-radius: 4px;
    color: white;
}

.data_side_data {
    margin-left: 50px;
    font-size: 20px;
    font-weight: 800;
}

.data_side_data>span {
    display: block;
    font-size: 17px;
    font-weight: 600;
}

.letest_news {
    background-color: #0a0650;
    padding: 7;
    margin-bottom: 10px;
    color: white;
    font-size: 24px;
}

.clicknav {
    display: none;
}

@media(max-width:514px) {
    .clicknav {
        display: block;
    }
    .sidenav {
        display: none;
        position: fixed;
        left: 0;
        top: 10;
    }
    .dashboard_section {
        margin-left: 0;
    }
    header {
        position: fixed;
        top: 0;
        width: 100%;
    }
    .listnav {
        height: 457px;
    }
    .left_nav {
        display: unset;
    }
    .letest_news {
        margin-top: 38px;
    }
    .left_nav>h2 {
        display: inline;
    }
    .clicknav {
        display: block;
        float: right;
        margin-top: -9px;
    }
    .right_nav {
        display: none;
        float: right;
    }
    aside {
        width: 100%;
        overflow-x: auto;
        height: 300px;
    }
    .dashboard_section {
        padding: 10px;
        padding-top: 25px;
    }
}

.gift_box {
    background-color: #d1e7dd;
    min-height: 180px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
    padding: 15px;
}

.content_gift>img {
    height: 100px;
    width: 100px;
}

.content_gift>h2 {
    font-size: 21px;
    margin-top: 10px;
}

.content_gift>p {
    font-size: 13px;
}

.getgift {
    background-color: #0a0650;
    padding: 8px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.getgift:hover {
    color: white;
}

.gift_modal_ {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.secon_ads {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.gift_modal_wrapper {
    background-color: white;
    height: 450px;
    border-radius: 6px;
    width: 550px;
}

.second_ads_wapper {
    display: flex;
    background-color: white;
    border-radius: 6px;
    padding: 30px;
}

.form_group {
    margin-bottom: 10px;
}

.form_group>label {
    color: black;
    font-size: 17px;
    font-weight: 600;
}

.form_group>input {
    border-color: #d2d6de;
    width: 100%;
    height: 34px;
    color: #555;
    border: 1px solid #d2d6de;
    border-radius: 2px;
    outline: none;
}

.back_ground {
    background-color: white;
    padding: 15px;
    border-radius: 4px;
}

td {
    width: 118px;
    padding: 8px;
    background: linear-gradient(0deg, #e8ecf4 20%, #d2d9e9 50%);
}

table {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border: 1px solid #f4f4f4;
    width: 100%;
}

tr {
    background-color: #f9f9f9;
}

.overflow_table {
    overflow: auto;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #e5e6f1;
    padding: 30px;
}

.loggin_wrapper {
    background-color: white;
    width: 400px;
    box-shadow: 0 0 4px rgb(0 0 0 / 14%), 0 4px 8px rgb(0 0 0 / 6%);
    padding: 20px;
    padding-bottom: 25px;
}

.loggin_wrapper>h4 {
    font-weight: 400;
    text-align: center;
}

.validate_input>input {
    font-size: 15px;
    line-height: 1.5;
    color: #24214c;
    display: block;
    width: 100%;
    background: #fff;
    height: 45px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #d3d3e0;
    outline: none;
    margin-top: 20px;
}

.validate_input {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.forget {
    text-decoration: none;
}

.loginbtn {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 2px;
    border: none;
    color: white;
    margin-top: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.tropy_center {
    display: inline-flex;
    align-items: center;
    justify-self: center;
}

.right_side_gift {
    float: right;
    margin-left: 30px;
}